.dart_tool/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.packages
devtools_options.yaml
build/
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
